/*-- scss:defaults --*/
$primary: #0BA3A5;
$navbar-bg: #42454D;
$navbar-fg: #0BA3A5;
$monospace-font-weight:  500 !default;
.cell-output {
    background-color: #f1f4f4;
    padding: 0.3rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.sidebar-item-section {
    font-size: 1.5rem;
    color: red;
}


